{# src/layouts/base.html.twig #}
{% extends 'base_generic.html.twig' %}

{% block body %}
<div class="container">
    <div class="formDiv">
        <h1>Esse site armazena cookies!</h1>
        <p>Os dados informados no presente cadastro são limitados aos dados estritamente necessários para a finalidade proposta, sendo tratados de acordo com a Lei 13.709/2018.</p>
    </div>
</div>
{% endblock %}
