<div class="stepsTab panels" data-step="4">
  <div class="text-center">
    <div class="col-lg-6 offset-lg-3">
      <h1>{{ 'PANEL_SENT'|trans }}</h1>
      <div class="cadastroSuccess">
        <div class="title m-0">{{ 'PANEL_SENT_MSG'|trans }}</div>
      </div>
      <a href="{{ path('index') }}" class="btn btn-block btn-primary">{{ 'PANEL_BACK'|trans }}</a>
    </div>
  </div>
</div>