{% extends 'base_generic.html.twig' %}
{% block body %}
    <div class="container">
        <div class="formDiv">
            <div id="error_500">
                Erro, contacte o administrador@anpad.gov.br
            </div>
        </div>
    </div>
{% endblock %}