<div class="col-12 form-group">
    <input id="inputIdentifierPasswordRecovery" type="text" class="form-control" name="identifier" required autofocus placeholder="CPF / Passaport" autocomplete="off"/>
    {% for message in app.flashes('success') %}
        <div class="valid-feedback d-block">
            {{ message |trans }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="invalid-feedback d-block">
            {{ message |trans }}
        </div>
    {% endfor %}
</div>

<div class="col-5 links">
    <a id="btn-password-recovery-dismiss" href="#voltar"><i class="fas fa-arrow-left"></i> {{ 'STEP_BACK'|trans }}</a>
</div>
<div class="col-7">
    <button type="submit" class="btn btn-sm btn-primary btn-block follow" style="text-transform: none" id="BtFormPasswordRecovery">{{ 'RECUPERAR'|trans }}
        <i id="btnPasswordRecoveryLoad" style="margin-left:10px;" class="fa fa-spinner fa-spin d-none"></i>
    </button>
</div>
