.dropdown-toggle::after {
    content: none !important;
}

.dropdown-menu-right {
    width: 340px;
    margin-right: 40px !important;
}

#login-container {
    margin: 12px;
}

#login-container .links {
    font-size: 13px;
}

#conteudoNavbarSuportado > ul > li.nav-item.show > div {
    left: 50.5rem !important;
}

.card__content > p:nth-child(2),
.card__content > p:nth-child(4) {
    display: none;
}

.card-previous .hover-info {
    margin: 0;
    border: 0;
    padding: 0;
    color: #135B9E;
    border: 0;
    font-size: 15px;
    text-align: center;
}

.swiper-wrapper {
    transition-duration: 3500ms !important;
}

.info-top a {
    filter: grayscale(90%);
}

.info-top a.active, 
.info-top a:hover {
    filter: grayscale(0%);
}

.fade:not(.show) {
    display: none !important;
}
.content-v2 {
    min-height: 85vh;
}