{% extends 'base_generic.html.twig' %}

{% block body %}
    <main id="apresentacao" class="apresentacao">
        <section class="banner__apresentacao">
            {% include 'v2/events_navbar.html.twig' %}

            <div class="tab-pane fade show active" id="navsidebar-0" role="tabpanel">
                {% include 'event/show/tabs/v2/apresentation.html.twig' %}
            </div>
            
            <div class="tab-pane fade" id="navsidebar-1" role="tabpanel">
                {% include 'event/show/tabs/v2/how-quote.html.twig' %}
            </div>
            
            <div class="tab-pane fade" id="navsidebar-2" role="tabpanel">
                {% include 'event/show/tabs/v2/speakers.html.twig' %}
            </div>
            
            <div class="tab-pane fade" id="navsidebar-3" role="tabpanel">
                {% include 'event/show/tabs/v2/pre-events.html.twig' %}
            </div>

            {# Subsections
            {% if edition.subsections|length > 0 %}
                {% for subsection in edition.subsections %}
                    <div class="tab-pane fade" id="navsidebar-{{ subsection.id }}" role="tabpanel">
                        <h1>{{ subsection.name }}</h1>
                        {% include 'event/show/tabs/details.html.twig' %}
                    </div>
                {% endfor %}
            {% endif %} #}
        </section>
    </main>
{% endblock %}