{# layouts/partials/footer.html.twig #}
<footer>
    <div class="container">
        <div class="row endereco">
            <div class="col-md-6">
                <h1>Telefone ANPAD</h1>

                <div class="row">
                    <div class="col-md-6">
                        <div class="pb-2">(44) 3354-8545</div>
                        <div>(44) 98826-2467</div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>  <!-- ./class="col-md-offset-2 col-md-4" -->

            <div class="col-md-6">
                <h1>Endereço</h1>
                <address>
                    <div class="pb-2">Av. Pedro Taques, 294</div>
                    <div class="pb-2">CEP 87030-008 - Maringá, PR</div>
                    <div>Brasil</div>
                </address>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mb-1"><br>Associação Nacional de Pós Graduação e Pesquisa em Administração - CNPJ 42.595.652/0001-66</div>
            <div class="col-md-12 text-center mt-1"><a class="btn-sm btn-outline-secondary" href="https://anpad.blob.core.windows.net/files/politica_privacidade_v1.pdf" target="_blank">{{'Privacy Policy'|trans}}</a></div>            
        </div>
    </div>
</footer>