{# layouts/partials/header.html.twig #}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 logotipo text-left"><img src="{{ asset('build/images/logo/anpad.png') }}" alt="ANPAD logo" height="95" width="289"></div>
        </div>
    </div>
</header>

{% include 'menu.html.twig' %}